@model IEnumerable<IMS.Models.ProductType>

@{
    ViewBag.Title = "Deactivate";
}

<h2 class="text-uppercase">Deactivate Product Type</h2>

@using (Ajax.BeginForm("Deactivate", "ProductType", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "DivProductType"
}))
{
    <div class="row mb-2 pt-4">
        <div class="col-10">
            <input type="text" name="dept" class="form-control" />
        </div>
        <div class="col-2">
            <button type="submit" class="form-control btn btn-outline-primary"><i class="fas fa-search"></i> Search</button>
        </div>
    </div>

}
<div id="DivProductType">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        @if (!Model.Any())
        {


            <tr>
                <td colspan="2">No Data Found.....</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-end">
                        <a href="@Url.Action("Edit", "ProductType", new { id = item.Id })" class="btn btn-outline-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="@Url.Action("Active", "ProductType", new { id = item.Id })" class="btn btn-outline-warning">
                            <i class="fas fa-times"></i>
                        </a>                       
                    </td>
                </tr>
            }
        }

    </table>
</div>
