
@{
    ViewBag.Title = "Index";
}


<div class="mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <img src="~/Images/what.png" alt="Not Found" class="img-fluid mb-4" style="width:250px;" />"
            <h1 class="display-4">Whoops...</h1>
            <p class="lead">Something went wrong. We apologize for the inconvenience.</p>
        </div>
    </div>
</div>

