@*@model IEnumerable<IMS.Models.OrderHistory>*@
@{
    ViewBag.Title = "Inventory Order History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2 pb-4 mb-4">
    <div class="col-6">
        <h4 class="text-uppercase">Inventory Order History</h4>
    </div>
    <div class="col-6 text-end">

        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Index", "Home", new {area="Admin"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i> Back To Dashboard</a>
        }

        @if (User.IsInRole("Manager"))
        {
            <a href="@Url.Action("Index", "ManagerHome", new {area="Manager"})" class="btn btn-outline-success"><i class="fa-solid fa-square-caret-left"></i> Back To Dashboard</a>
        }
    </div>
</div>
<div class="row pt-2 pb-4 mb-4">
    <div class="col-3">
        <label>From: </label>
        <input type="date" class="form-control" id="startDate" />     
    </div>
    <div class="col-3">
        <label>To: </label>
        <input type="date" class="form-control" id="finalDate" />     
    </div>
    <div class="col-3">
        <label></label>
        <input type="text" class="form-control" id="search" placeholder="Write OrderId or Employee email... " />     
    </div>
    <div class="col-3 text-end">
        <label></label>
        <input type="submit" id="btnView" class="btn btn-primary w-100"  value="View"/>
    </div>
</div>
<table class="table table-striped table-hover pt-2 pb-4" id="historyOrder">
    <thead>
        <tr>
            <th class="border-top-0">Order Id</th>
            <th class="border-top-0">Order By</th>
            <th class="border-top-0">ORDER DATE</th>
            <th class="border-top-0">TOTAL PRICE($)</th>
            <th class="border-top-0">Actions</th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            renderDataTable();
            $(document).on('click', '#btnView', function () {
                renderDataTable();
            });
            
        });


        function renderDataTable() {
            let pageSize = 10;

            $("#historyOrder").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": [4] },
                    { "orderable": true, "targets": [0, 1, 2, 3] }
                ],
                destroy: true,
                "order": false,
                searching: false,
                "lengthChange": false,
                "pageLength": pageSize,
                "serverSide": true,
                processing: true,
                ajax: {
                    type: 'POST',
                    url: '@Url.Action("InventoryOrderDataTable", "ManagerHome")',
                    data: function (d) {
                        d.startDate = $('#startDate').val();
                        d.finalDate = $('#finalDate').val();
                        d.search = $('#search').val();
                    }
                }
            });

        }
    </script>
}
