/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100% !important;
}
.message {
    color: white !important;
    background-color:green !important;
    /* Set the desired text color, e.g., green */
}
.messageError {
    color: white !important;
    background-color: red !important;
}
.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    /* background-color: var(--bs-card-cap-bg); */
    /* border-top: var(--bs-card-border-width) solid var(--bs-card-border-color); */
}

